In [104]:
import pandas as pd
df = pd.read_csv("../../../1. Input/players.csv")

In [105]:
# pip install unidecode

In [106]:
#Finding the null_vals in the dataset
miss_val = df.isnull().sum()
miss_val

player_id                                   0
first_name                               1980
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2696
city_of_birth                            2190
country_of_citizenship                    560
date_of_birth                              46
sub_position                              174
position                                    0
foot                                     2376
height_in_cm                             2084
contract_expiration_date                11451
agent_name                              15352
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1122
highest_market_value_in_eur              1122
dtype: int64

In [107]:
#drop rows with missing values for 'first_name'
df = df.dropna(subset=['first_name'])
df

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
6,123,Christoph,Metzelder,Christoph Metzelder,2012,33,christoph-metzelder,Germany,Haltern,Germany,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/christoph-metz...,L1,FC Schalke 04,1500000.0,9500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30414,1176866,Motez,Nourani,Motez Nourani,2023,3840,motez-nourani,Tunisia,Sousse,Tunisia,...,right,NaN,2026-06-30 00:00:00,PROhorizons Group,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/motez-nourani/...,TR1,Adana Demirspor Kulübü,250000.0,250000.0
30415,1178474,Amadou,Koné,Amadou Koné,2023,1421,amadou-kone,Mali,Bamako,Cote d'Ivoire,...,NaN,NaN,NaN,Rudy Raba,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/amadou-kone/pr...,FR1,Stade de Reims,50000.0,50000.0
30416,1186012,Bakary,Haidara,Bakary Haidara,2023,968,bakary-haidara,NaN,NaN,Cote d'Ivoire,...,right,NaN,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/bakary-haidara...,BE1,Koninklijke Voetbal Club Westerlo,350000.0,350000.0
30417,1187799,Franciszek,Franczak,Franciszek Franczak,2023,2578,franciszek-franczak,Poland,Limanowa,Poland,...,right,173.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/franciszek-fra...,SC1,Saint Johnstone Football Club,75000.0,75000.0
30418,1225269,Erdem,Çalık,Erdem Çalık,2023,3209,erdem-calik,Turkey,Istanbul,Turkey,...,right,NaN,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/erdem-calik/pr...,TR1,Pendikspor,50000.0,50000.0

In [108]:
df['first_name']

0          Miroslav
1             Roman
2           Dimitar
4               Tom
6         Christoph
            ...
30414         Motez
30415        Amadou
30416        Bakary
30417    Franciszek
30418         Erdem
Name: first_name, Length: 28439, dtype: object

In [109]:
#Replacing null values of 'country_of_birth' with 'unknown'

df['country_of_birth'].fillna('Uknown', inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\3060465331.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country_of_birth'].fillna('Uknown', inplace = True)

In [110]:
df['country_of_birth']

0                    Poland
1                   Germany
2                  Bulgaria
4        East Germany (GDR)
6                   Germany
                ...
30414               Tunisia
30415                  Mali
30416                Uknown
30417                Poland
30418                Turkey
Name: country_of_birth, Length: 28439, dtype: object

In [111]:
#Replacing null values for 'city_of_birth' with 'unknown' (Note: the column is dropped)

df['city_of_birth'].fillna('Unknown', inplace = True)
df['city_of_birth']

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\866985371.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['city_of_birth'].fillna('Unknown', inplace = True)

0              Opole
1               Diez
2        Blagoevgrad
4            Freital
6            Haltern
            ...
30414         Sousse
30415         Bamako
30416        Unknown
30417       Limanowa
30418       Istanbul
Name: city_of_birth, Length: 28439, dtype: object

In [112]:
#Dropping the cols:- ['agent_name', 'image_url', 'url', 'contract_expiration_date'], not an important info

col_drop = ['agent_name', 'image_url', 'url', 'contract_expiration_date']
df.drop(columns=col_drop, inplace=True)

In [113]:
df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,1978-06-09,Centre-Forward,Attack,right,184.0,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,1980-08-06,Goalkeeper,Goalkeeper,left,190.0,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,1981-03-18,Goalkeeper,Goalkeeper,right,194.0,L1,FC Bayern München,100000.0,3000000.0
6,123,Christoph,Metzelder,Christoph Metzelder,2012,33,christoph-metzelder,Germany,Haltern,Germany,1980-11-05,Centre-Back,Defender,NaN,NaN,L1,FC Schalke 04,1500000.0,9500000.0

In [114]:
#converting 'date_of_birth' to datetime format (Note: the column is dropped)

df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])

In [115]:
#replacing the null values of 'date_of_birth' with 'unknown'

# print(df['date_of_birth'].isnull().sum())
print(df[df['date_of_birth'].isnull()])

df['date_of_birth'].fillna('Unknown', inplace = True)

       player_id  first_name     last_name                 name  last_season  \
14           299      Fabian         Ernst         Fabian Ernst         2012
35           837     Thorben          Marx         Thorben Marx         2014
77          1587       Mario      Eggimann       Mario Eggimann         2012
94          1944       Deniz         Dogan          Deniz Dogan         2013
130         2950      Robert         Almer         Robert Almer         2014
280         3942      Martin         Lanig         Martin Lanig         2014
572         6322     Patrick        Helmes       Patrick Helmes         2014
1411       16565      Daniel        Halfar        Daniel Halfar         2014
1696       20444      Tobias          Weis          Tobias Weis         2013
2679       32611       Sezer         Badur          Sezer Badur         2015
3041       36189   Christian         Dorda      Christian Dorda         2014
3579       42463        Timo       Gebhart         Timo Gebhart         2013
4279       49681       Aykut        Öztürk         Aykut Öztürk         2013
4346       50765      Mahmut         Temür         Mahmut Temür         2014
4376       51190        Marc     Vucinovic       Marc Vucinovic         2014
5099       58124      Julian      Schieber      Julian Schieber         2020
5130       58379  Maximilian       Beister   Maximilian Beister         2015
6827       83188        Marc          Lais            Marc Lais         2012
7537       94598      Stefan  Wannenwetsch  Stefan Wannenwetsch         2015
8487      116272    Benedikt        Röcker      Benedikt Röcker         2018
12662     202753        Oguz       Özcelik         Oguz Özcelik         2012
13470     221883       Abdul         Basit          Abdul Basit         2016
14624     246051      Martin        Haesum        Martin Haesum         2012
17956     328791      Miguel  Blanco-Lopez  Miguel Blanco-Lopez         2016
18251     335633        Noel     Wembacher       Noel Wembacher         2015
18252     335635         Jan        Finger           Jan Finger         2015
18254     335646        Nick          Volk            Nick Volk         2015
18840     345068    Abdullah       Karakoc     Abdullah Karakoc         2014
20145     381132      Daniel          Thur          Daniel Thur         2016
20146     381134    Johannes         Wolff       Johannes Wolff         2016
22455     457583     Dimitri        Swisch       Dimitri Swisch         2013
23951     521323    Filippos        Selkos      Filippos Selkos         2019
24009     523200  Kristoffer        Larsen    Kristoffer Larsen         2017
24191     531161      Rasmus  Horup Hansen  Rasmus Horup Hansen         2017
24459     539248       Kalle   Christensen    Kalle Christensen         2017
24480     539732       Yuriy        Berdey         Yuriy Berdey         2017
24636     546133    Johannes         Frahm       Johannes Frahm         2019
25241     573816     Ibrahim         Suaib        Ibrahim Suaib         2017
25302     576729      Sergiy        Rusyan        Sergiy Rusyan         2017
26566     632716       Kalle           Bak            Kalle Bak         2019
26690     640558      Damian  van der Haar  Damian van der Haar         2021
27724     701335       Cihat       Topatan        Cihat Topatan         2021
27963     714313        José       Salinas         José Salinas         2020
29435     879619         Sem         Bonte            Sem Bonte         2022
30275    1067951      Hjalte    Toftegaard    Hjalte Toftegaard         2022
30315    1086787       Demba       N'Diaye        Demba N'Diaye         2022

       current_club_id          player_code country_of_birth  \
14               10484         fabian-ernst          Germany
35                  18         thorben-marx          Germany
77                  42       mario-eggimann      Switzerland
94                  23          deniz-dogan          Germany
130                 42         robert-almer          Austria
280                 24         martin-lanig          Germany
572                  3       patrick-helmes          Germany
1411                 3        daniel-halfar          Germany
1696                24          tobias-weis          Germany
2679               589          sezer-badur          Germany
3041               968      christian-dorda          Germany
3579                 4         timo-gebhart          Germany
4279              2381         aykut-ozturk          Germany
4346              3216         mahmut-temur          Germany
4376               127       marc-vucinovic          Germany
5099               167      julian-schieber          Germany
5130                39   maximilian-beister          Germany
6827                60            marc-lais          Germany
7537              4795  stefan-wannenwetsch          Germany
8487               206      benedikt-rocker          Germany
12662             2414         oguz-ozcelik           Uknown
13470             1301          abdul-basit            Ghana
14624             1053        martin-haesum           Uknown
17956               24  miguel-blanco-lopez          Germany
18251              105       noel-wembacher          Germany
18252              105           jan-finger          Germany
18254              105            nick-volk          Germany
18840             3216     abdullah-karakoc          Germany
20145              105          daniel-thur           Uknown
20146              105       johannes-wolff           Uknown
22455             9007       dimitri-swisch            UdSSR
23951              169      filippos-selkos          Germany
24009             2414    kristoffer-larsen           Uknown
24191             2414  rasmus-horup-hansen           Uknown
24459             2414    kalle-christensen           Uknown
24480            26459         yuriy-berdey           Uknown
24636             5724       johannes-frahm           Uknown
25241             6992        ibrahim-suaib           Greece
25302            18303        sergiy-rusyan          Ukraine
26566             5818            kalle-bak           Uknown
26690             1269  damian-van-der-haar           Uknown
27724            11688        cihat-topatan          Germany
27963             1531         jose-salinas           Uknown
29435              133            sem-bonte           Uknown
30275             2414    hjalte-toftegaard           Uknown
30315             1420         demba-ndiaye           Uknown

                  city_of_birth country_of_citizenship date_of_birth  \
14                     Hannover                Germany           NaT
35                       Berlin                Germany           NaT
77                        Brugg            Switzerland           NaT
94                       Lübeck                 Turkey           NaT
130                   Bruck/Mur                Austria           NaT
280             Bad Mergentheim                Germany           NaT
572                        Köln                Germany           NaT
1411                   Mannheim                Germany           NaT
1696            Schwäbisch Hall                Germany           NaT
2679                     Berlin                 Turkey           NaT
3041            Mönchengladbach                Germany           NaT
3579                  Memmingen                Germany           NaT
4279               Ehringhausen                 Turkey           NaT
4346                      Düren                Germany           NaT
4376                   Hannover                Germany           NaT
5099                   Backnang                Germany           NaT
5130                  Göttingen                Germany           NaT
6827       Freiburg im Breisgau                Germany           NaT
7537                   Langenau                Germany           NaT
8487       Bietigheim-Bissingen                Germany           NaT
12662                   Unknown                Denmark           NaT
13470                     Accra                  Ghana           NaT
14624                   Unknown                Denmark           NaT
17956                      Bonn                Germany           NaT
18251                 Darmstadt                Germany           NaT
18252                Groß-Gerau                Germany           NaT
18254                 Darmstadt                Germany           NaT
18840                      Köln                    NaN           NaT
20145                   Unknown                Germany           NaT
20146                   Unknown                Germany           NaT
22455             St.Petersburg                Germany           NaT
23951            Castrop-Rauxel                 Greece           NaT
24009                   Unknown                Denmark           NaT
24191                   Unknown                Denmark           NaT
24459                   Unknown                Denmark           NaT
24480                   Unknown                Ukraine           NaT
24636                   Unknown                Denmark           NaT
25241                     Athen                Ukraine           NaT
25302  Makiivka, Donetsk Oblast                Ukraine           NaT
26566                   Unknown                Denmark           NaT
26690                   Unknown            Netherlands           NaT
27724               Wipperfürth                 Turkey           NaT
27963                   Unknown                  Spain           NaT
29435                   Unknown            Netherlands           NaT
30275                   Unknown                Denmark           NaT
30315                   Unknown                 France           NaT

             sub_position    position   foot  height_in_cm  \
14     Defensive Midfield    Midfield  right         183.0
35     Defensive Midfield    Midfield  right         184.0
77            Centre-Back    Defender  right         190.0
94            Centre-Back    Defender   left         181.0
130            Goalkeeper  Goalkeeper   left         194.0
280    Defensive Midfield    Midfield  right         190.0
572        Centre-Forward      Attack   both         182.0
1411   Attacking Midfield    Midfield   left         173.0
1696     Central Midfield    Midfield   both         170.0
2679     Central Midfield    Midfield  right         181.0
3041            Left-Back    Defender   left         182.0
3579   Attacking Midfield    Midfield  right         183.0
4279       Centre-Forward      Attack  right         182.0
4346       Centre-Forward      Attack   both         178.0
4376                  NaN     Missing  right         178.0
5099       Centre-Forward      Attack   left         186.0
5130         Right Winger      Attack   left         180.0
6827   Defensive Midfield    Midfield   both         184.0
7537   Defensive Midfield    Midfield  right         177.0
8487          Centre-Back    Defender   left         197.0
12662      Centre-Forward      Attack    NaN           NaN
13470                 NaN     Missing  right         180.0
14624          Goalkeeper  Goalkeeper    NaN           NaN
17956         Centre-Back    Defender   both         188.0
18251  Attacking Midfield    Midfield  right         192.0
18252         Centre-Back    Defender   left         188.0
18254  Attacking Midfield    Midfield  right         184.0
18840         Centre-Back    Defender    NaN           NaN
20145       Left Midfield    Midfield   left         180.0
20146          Right-Back    Defender  right         175.0
22455                 NaN     Missing    NaN           NaN
23951         Left Winger      Attack   both         186.0
24009         Left Winger      Attack    NaN           NaN
24191          Goalkeeper  Goalkeeper   left         175.0
24459          Right-Back    Defender    NaN         182.0
24480                 NaN     Missing    NaN         180.0
24636          Goalkeeper  Goalkeeper    NaN           NaN
25241          Goalkeeper  Goalkeeper  right         192.0
25302  Attacking Midfield    Midfield  right         177.0
26566           Left-Back    Defender    NaN           NaN
26690         Centre-Back    Defender   left           NaN
27724         Left Winger      Attack   left         171.0
27963          Goalkeeper  Goalkeeper    NaN           NaN
29435          Goalkeeper  Goalkeeper    NaN           NaN
30275    Central Midfield    Midfield    NaN           NaN
30315                 NaN     Missing    NaN           NaN

      current_club_domestic_competition_id  \
14                                     TR1
35                                      L1
77                                      L1
94                                      L1
130                                     L1
280                                     L1
572                                     L1
1411                                    L1
1696                                    L1
2679                                   TR1
3041                                   BE1
3579                                    L1
4279                                   TR1
4346                                   TR1
4376                                    L1
5099                                    L1
5130                                    L1
6827                                    L1
7537                                    L1
8487                                   DK1
12662                                  DK1
13470                                  PO1
14624                                  DK1
17956                                   L1
18251                                   L1
18252                                   L1
18254                                   L1
18840                                  TR1
20145                                   L1
20146                                   L1
22455                                 UKR1
23951                                  GR1
24009                                  DK1
24191                                  DK1
24459                                  DK1
24480                                 UKR1
24636                                  DK1
25241                                 UKR1
25302                                 UKR1
26566                                  DK1
26690                                  NL1
27724                                  TR1
27963                                  ES1
29435                                  NL1
30275                                  DK1
30315                                  FR1

                                       current_club_name  market_value_in_eur  \
14                                 Kasımpaşa Spor Kulübü            1500000.0
35     Borussia Verein für Leibesübungen 1900 Mönchen...             300000.0
77                                           Hannover 96             400000.0
94                                Eintracht Braunschweig              75000.0
130                                          Hannover 96             250000.0
280                       Eintracht Frankfurt Fußball AG             600000.0
572                                 1. Fußball-Club Köln            1000000.0
1411                                1. Fußball-Club Köln             400000.0
1696                      Eintracht Frankfurt Fußball AG             300000.0
2679                                         Antalyaspor              25000.0
3041                   Koninklijke Voetbal Club Westerlo             175000.0
3579                                      1.FC Nuremberg             100000.0
4279                                    Sivasspor Kulübü              10000.0
4346                                Mersin Talimyurdu SK              50000.0
4376                                     SC Paderborn 07             150000.0
5099                                    FC Augsburg 1907             400000.0
5130                1. Fußball- und Sportverein Mainz 05             100000.0
6827                                 Sport-Club Freiburg             150000.0
7537                                    FC Ingolstadt 04             200000.0
8487                              Brøndby Idrætsforening             200000.0
12662                                         AC Horsens                  NaN
13470                                        CS Marítimo              50000.0
14624                                         Aalborg BK                  NaN
17956                     Eintracht Frankfurt Fußball AG              25000.0
18251                   Sportverein Darmstadt 1898 e. V.             100000.0
18252                   Sportverein Darmstadt 1898 e. V.             100000.0
18254                   Sportverein Darmstadt 1898 e. V.             100000.0
18840                               Mersin Talimyurdu SK              50000.0
20145                   Sportverein Darmstadt 1898 e. V.             100000.0
20146                   Sportverein Darmstadt 1898 e. V.             100000.0
22455                                       Arsenal Kyiv                  NaN
23951                                   Panionios Athens             100000.0
24009                                         AC Horsens                  NaN
24191                                         AC Horsens                  NaN
24459                                         AC Horsens                  NaN
24480                                     NK Veres Rivne                  NaN
24636                               Randers Fodbold Club                  NaN
25241                         ZAO FK Chornomorets Odessa              25000.0
25302                                    FK Oleksandriya                  NaN
26566                                           Hobro IK                  NaN
26690  Prins Hendrik Ende Desespereert Nimmer Combina...                  NaN
27724                                        Giresunspor              25000.0
27963                                           Elche CF                  NaN
29435                              SC Cambuur Leeuwarden                  NaN
30275                                         AC Horsens                  NaN
30315                                         Angers SCO                  NaN

       highest_market_value_in_eur
14                       9000000.0
35                       2500000.0
77                       3000000.0
94                        400000.0
130                      1000000.0
280                      3500000.0
572                     10000000.0
1411                     1750000.0
1696                     3500000.0
2679                     2200000.0
3041                      550000.0
3579                     5000000.0
4279                      375000.0
4346                      350000.0
4376                      450000.0
5099                     8000000.0
5130                     3000000.0
6827                      700000.0
7537                      400000.0
8487                      850000.0
12662                          NaN
13470                     100000.0
14624                          NaN
17956                     100000.0
18251                     100000.0
18252                     100000.0
18254                     100000.0
18840                     100000.0
20145                     100000.0
20146                     100000.0
22455                          NaN
23951                     100000.0
24009                          NaN
24191                          NaN
24459                          NaN
24480                          NaN
24636                          NaN
25241                      25000.0
25302                          NaN
26566                          NaN
26690                          NaN
27724                      25000.0
27963                          NaN
29435                          NaN
30275                          NaN
30315                          NaN

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\3266277821.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['date_of_birth'].fillna('Unknown', inplace = True)
C:\Users\marij\AppData\Local\Temp\ipykernel_18356\3266277821.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['date_of_birth'].fillna('Unknown', inplace = True)

In [116]:
new_val = df.isnull().sum()
new_val

player_id                                  0
first_name                                 0
last_name                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
city_of_birth                              0
country_of_citizenship                   519
date_of_birth                              0
sub_position                             166
position                                   0
foot                                    2317
height_in_cm                            2055
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                     1079
highest_market_value_in_eur             1079
dtype: int64

In [117]:
#replacing null values for 'country_of_citizenship' with 'unknown'

df['country_of_citizenship'].fillna('Unknown', inplace = True)
df['country_of_citizenship']

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\2812704695.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country_of_citizenship'].fillna('Unknown', inplace = True)

0              Germany
1              Germany
2             Bulgaria
4              Germany
6              Germany
             ...
30414          Tunisia
30415    Cote d'Ivoire
30416    Cote d'Ivoire
30417           Poland
30418           Turkey
Name: country_of_citizenship, Length: 28439, dtype: object

In [118]:
#Replacing values for 'height_in_cm' with the mean

#Mean of 'height_in_cm'

mean_height = df['height_in_cm'].mean()
mean_height_int = int(mean_height)

#converting string to int
num = pd.to_numeric(mean_height_int)

#Replacing null values with the mean
df['height_in_cm'].fillna(num, inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\2514944029.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['height_in_cm'].fillna(num, inplace = True)

In [119]:
df['height_in_cm']

0        184.0
1        190.0
2        182.0
4        194.0
6        182.0
         ...
30414    182.0
30415    182.0
30416    182.0
30417    173.0
30418    182.0
Name: height_in_cm, Length: 28439, dtype: float64

In [120]:
n1 = df.isnull().sum()
n1

player_id                                  0
first_name                                 0
last_name                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
city_of_birth                              0
country_of_citizenship                     0
date_of_birth                              0
sub_position                             166
position                                   0
foot                                    2317
height_in_cm                               0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                     1079
highest_market_value_in_eur             1079
dtype: int64

In [121]:
#finding mean for 'market_value_in eur' (Mean Imputation)
eur_mean = df['market_value_in_eur'].mean()
int_mean = int(eur_mean)

#converting string to int
mean_num = pd.to_numeric(int_mean)

#Replacing null values with the mean
df['market_value_in_eur'].fillna(mean_num, inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\2595888478.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['market_value_in_eur'].fillna(mean_num, inplace = True)

In [122]:
df['market_value_in_eur']

0        1000000.0
1         750000.0
2        1000000.0
4         100000.0
6        1500000.0
           ...
30414     250000.0
30415      50000.0
30416     350000.0
30417      75000.0
30418      50000.0
Name: market_value_in_eur, Length: 28439, dtype: float64

In [123]:
n2 = df.isnull().sum()
n2

player_id                                  0
first_name                                 0
last_name                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
city_of_birth                              0
country_of_citizenship                     0
date_of_birth                              0
sub_position                             166
position                                   0
foot                                    2317
height_in_cm                               0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                        0
highest_market_value_in_eur             1079
dtype: int64

In [124]:
#check for duplicates (there is no duplicates in the dataset, or if there are any, idk ;) )

dup_data = df.duplicated().sum()
dup_data

0

In [125]:
from unidecode import unidecode

#correcting unicode values for 'first_name'
col_1 = df['first_name'] = df['first_name'].apply(unidecode)
col_1

0          Miroslav
1             Roman
2           Dimitar
4               Tom
6         Christoph
            ...
30414         Motez
30415        Amadou
30416        Bakary
30417    Franciszek
30418         Erdem
Name: first_name, Length: 28439, dtype: object

In [126]:
#correcting unicode values for 'last_name'
col_2 = df['last_name'] = df['last_name'].apply(unidecode)
col_2

0               Klose
1        Weidenfeller
2            Berbatov
4              Starke
6           Metzelder
             ...
30414         Nourani
30415            Kone
30416         Haidara
30417        Franczak
30418           Calik
Name: last_name, Length: 28439, dtype: object

In [127]:
#correcting unicode values in 'name'
names = df['name'] = df['name'].apply(unidecode)
names

0             Miroslav Klose
1         Roman Weidenfeller
2           Dimitar Berbatov
4                 Tom Starke
6        Christoph Metzelder
                ...
30414          Motez Nourani
30415            Amadou Kone
30416         Bakary Haidara
30417    Franciszek Franczak
30418            Erdem Calik
Name: name, Length: 28439, dtype: object

In [128]:
#drop 'first_name' and 'last_name' columns as there is column 'name' which contains both first and last name
name_drop = ['first_name', 'last_name']

df.drop(columns = name_drop, inplace = True)

In [129]:
#correcting unicode values for 'city_of_birth' (Note: The column is dropped!)

cb = df['city_of_birth'] = df['city_of_birth'].apply(unidecode)
cb

0              Opole
1               Diez
2        Blagoevgrad
4            Freital
6            Haltern
            ...
30414         Sousse
30415         Bamako
30416        Unknown
30417       Limanowa
30418       Istanbul
Name: city_of_birth, Length: 28439, dtype: object

In [130]:
#dropping 'city_of_birth'

col_name = ['city_of_birth']

df.drop(columns=col_name, inplace = True)

In [131]:
#correcting unicode values for 'current_club_name'

ccn = df['current_club_name'] = df['current_club_name'].apply(unidecode)

In [132]:
#find remaining null values

n3 = df.isnull().sum()
n3

player_id                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
country_of_citizenship                     0
date_of_birth                              0
sub_position                             166
position                                   0
foot                                    2317
height_in_cm                               0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                        0
highest_market_value_in_eur             1079
dtype: int64

In [133]:
#random imputation for 'foot'

import random

foot = ['right', 'left', 'both']

#Repalcing null values with random values:
df['foot'].fillna(random.choice(foot), inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\488347993.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['foot'].fillna(random.choice(foot), inplace = True)

In [134]:
#find remaining null values

n4 = df.isnull().sum()
n4

player_id                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
country_of_citizenship                     0
date_of_birth                              0
sub_position                             166
position                                   0
foot                                       0
height_in_cm                               0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                        0
highest_market_value_in_eur             1079
dtype: int64

In [135]:
#Finding unique values for 'sub_position'

pos = df['sub_position'].unique()
pos

array(['Centre-Forward', 'Goalkeeper', 'Centre-Back',
       'Attacking Midfield', 'Central Midfield', 'Defensive Midfield',
       'Left Midfield', 'Left Winger', 'Left-Back', 'Right-Back',
       'Second Striker', nan, 'Right Winger', 'Right Midfield'],
      dtype=object)

In [136]:
#Replacing null values for 'sub_position' with random values (Random Imputation)

df['sub_position'].fillna(random.choice(pos), inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\925121456.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sub_position'].fillna(random.choice(pos), inplace = True)

In [137]:
n4 = df.isnull().sum()
n4

player_id                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                           0
country_of_citizenship                     0
date_of_birth                              0
sub_position                               0
position                                   0
foot                                       0
height_in_cm                               0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                        0
highest_market_value_in_eur             1079
dtype: int64

In [138]:
#finding mean for 'highest_market_value_in_eur' (Mean Imputation)
mean_val = df['highest_market_value_in_eur'].mean()

#converting into Integer
mean_val_int = int(mean_val)

#converting string to int
num_val = pd.to_numeric(mean_val_int)

#Replacing null values with the mean (num_value)
df['highest_market_value_in_eur'].fillna(num_val, inplace = True)

C:\Users\marij\AppData\Local\Temp\ipykernel_18356\1356228074.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['highest_market_value_in_eur'].fillna(num_val, inplace = True)

In [139]:
#final check for null values

n5 = df.isnull().sum()
n5

player_id                               0
name                                    0
last_season                             0
current_club_id                         0
player_code                             0
country_of_birth                        0
country_of_citizenship                  0
date_of_birth                           0
sub_position                            0
position                                0
foot                                    0
height_in_cm                            0
current_club_domestic_competition_id    0
current_club_name                       0
market_value_in_eur                     0
highest_market_value_in_eur             0
dtype: int64

In [140]:
df.to_csv('data.csv', index = False)

In [141]:
df

,player_id,name,last_season,current_club_id,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav Klose,2015,398,miroslav-klose,Poland,Germany,1978-06-09 00:00:00,Centre-Forward,Attack,right,184.0,IT1,Societa Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Germany,1980-08-06 00:00:00,Goalkeeper,Goalkeeper,left,190.0,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30 00:00:00,Centre-Forward,Attack,left,182.0,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
4,80,Tom Starke,2017,27,tom-starke,East Germany (GDR),Germany,1981-03-18 00:00:00,Goalkeeper,Goalkeeper,right,194.0,L1,FC Bayern Munchen,100000.0,3000000.0
6,123,Christoph Metzelder,2012,33,christoph-metzelder,Germany,Germany,1980-11-05 00:00:00,Centre-Back,Defender,left,182.0,L1,FC Schalke 04,1500000.0,9500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30414,1176866,Motez Nourani,2023,3840,motez-nourani,Tunisia,Tunisia,2002-01-11 00:00:00,Left Winger,Attack,right,182.0,TR1,Adana Demirspor Kulubu,250000.0,250000.0
30415,1178474,Amadou Kone,2023,1421,amadou-kone,Mali,Cote d'Ivoire,2005-05-14 00:00:00,Attacking Midfield,Midfield,left,182.0,FR1,Stade de Reims,50000.0,50000.0
30416,1186012,Bakary Haidara,2023,968,bakary-haidara,Uknown,Cote d'Ivoire,2005-06-01 00:00:00,Centre-Back,Defender,right,182.0,BE1,Koninklijke Voetbal Club Westerlo,350000.0,350000.0
30417,1187799,Franciszek Franczak,2023,2578,franciszek-franczak,Poland,Poland,2007-08-16 00:00:00,Right Midfield,Midfield,right,173.0,SC1,Saint Johnstone Football Club,75000.0,75000.0
30418,1225269,Erdem Calik,2023,3209,erdem-calik,Turkey,Turkey,2006-06-05 00:00:00,Central Midfield,Midfield,right,182.0,TR1,Pendikspor,50000.0,50000.0